/* Body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header and Header Animation */

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: -3000px 0; }
}

.jumbotron {
    width: 100%; 
    height: 800px;
    background-image: url("../images/240247304-2000x1000.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 100s linear infinite;
}

.lead {
    color: #ffffff;
}

.display-4 {
    font-family: 'Baloo Thambi', cursive;
    color: #ffffff;
}

/* Error Message */
.error-message {
    color: #D4145A;
    padding-left: 1rem;
}
/* Card */
.card {
    margin-bottom: 2.7rem;
}

.location {
    background-color: transparent;
    border-bottom-color: transparent;
    text-transform: uppercase;
    color: #9E9E9E;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
}
.event-name {
    font-weight: bold;
    color: #212121;
    font-size: 2rem;
}

.temp {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Default Button */
.default-button {
    background-color: #4FC3F7;
    color: #ffffff;
}

.default-button:hover {
    background-color: #ffffff;
    color: #4FC3F7;
    border-color: #4FC3F7
}

.default-button-reverse {
    background-color: #ffffff;
    color: #4FC3F7;
    border-color: #4FC3F7
}

.default-button-reverse:hover {
    background-color: #4FC3F7;
    color: #ffffff;
}

.default-border {
    border-color: #4FC3F7;
}

/* Hot Button */
.hot-button {
    background-color: #ED1C24;
    color: #ffffff;
}

.hot-button:hover {
    background-color: #ffffff;
    color: #ED1C24;
    border-color: #ED1C24;
}

.hot-button-reverse {
    background-color: #ffffff;
    color: #ED1C24;
    border-color: #ED1C24;
}

.hot-button-reverse:hover {
    background-color: #ED1C24;
    color: #ffffff;
}

.hot-border {
    border-color:#ED1C24;
}

/* Warm Button */
.warm-button {
    background-color: #009E00;
    color: #ffffff;
}

.warm-button:hover {
    background-color: #ffffff;
    color: #009E00;
    border-color: #009E00;
}

.warm-button-reverse {
    background-color: #ffffff;
    color: #009E00;
    border-color: #009E00;
}

.warm-button-reverse:hover {
    background-color: #009E00;
    color: #ffffff;
}

.warm-border {
    border-color: #009E00;
}

/* Cold Button */
.cold-button {
    background-color: #A3A1FF;
    color: #ffffff;
}

.cold-button:hover {
    background-color: #ffffff;
    color: #A3A1FF;
    border-color: #A3A1FF;
}

.cold-button-reverse {
    background-color: #ffffff;
    color: #A3A1FF;
    border-color: #A3A1FF;
}

.cold-button-reverse:hover {
    background-color: #A3A1FF;
    color: #ffffff;
}

.cold-border {
    border-color: #A3A1FF;
}

/* Navbar */
.copywrite {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.navbar {
    position: fixed;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: #4FC3F7
}