@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: -3000px 0; }
}

.jumbotron {
    width: 100%; 
    height: 800px;
    background-image: url("../images/240247304-2000x1000.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 100s linear infinite;
}

.lead {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.display-4 {
    font-family: 'Baloo Thambi', cursive;
    color: #ffffff;
}

.card-img-top {
    width: 268px;
    height: 180px;
}

.navbar {
    text-align: center;
    background-color: #3ABEF9;
}